#nav {
    width:90%;
    margin:0 auto;
    list-style:none;
}

ol {
    list-style-type:none;
    padding:0;
    margin:0;
    font-size:18px;
    height:2em;
    line-height:2em;
    text-align:center;
    position:fixed;
}


.image {
    position: relative;
    width: 90%; /* for IE 6 */
}

.login{
    position: relative;
   float:right;
}
h2:nth-of-type(1){
    position: absolute;
    top: 100px;
    left:-20px;
    width: 100%;
    vertical-align: bottom;
    horiz-align: right;
}
h2:nth-of-type(2){
    position: absolute;
    top: 150px;
    left:120px;
    width: 100%;
    vertical-align: middle;
}

h2 span {
    color: black;
    font: bold 36px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(255,255,255); /* fallback color */
    background: rgba(255,255,255, 0.0);
    padding: 10px;
}

ol a {
    display:block;
    color:#000;
    text-decoration:none;
    padding:0 5px;
    position: relative;
}



ol > li > ul {
    list-style-type:none;
    padding:0;
    margin:0;
    position: relative;
}


ol > li:first-child {
    margin-left:0;
}

ol > li > ul > li > a {
    border-top:1px solid #FFF;
}

ol {
    background-color:#FFF;
    position: relative;
}

ol > li > ul > li {
    background-color:#EEE;
    position: relative;
    z-index: 1000;

}


ol > li > ul {
    display:none;
    position: relative;
}



ol > li {
    float:left;
    background-color:#ffED00;
    width:150px;
    margin-right:1px;
    margin-top: 1px;
    height:2em;
    position: relative;
}

ol > li:hover > a {
    color:#09C;
}
ol > li > a:hover {
    color:#09C;
}

ol > li:hover {
    background-color:#EEE;
}
ol > li:hover > ul {
     display:block;
 }
ol > li > ul > li:hover {
    background-color:#DDD;
}

ol > li > ul > li:hover a {
    color:#09C;
    position: relative;
    z-index: 1000;
}