

ol {
    list-style-type:none;
    padding:0;
    align-self: center;
    margin-left: 10%;
    font-size:18px;
    height:2em;
    width: auto;
    line-height:2em;
    text-align:center;
}

ol > li {
    float:left;
    background-color:#FDD700;
    display: inline-block;
    text-align:center;
}

.image {
   position: relative;
    width: 90%; /* for IE 6 */
    height: 200px;
    background-image: url('res/bannerW.png');
    background-size: auto 200px;
    clear:both;
}
ol a {
    display:block;
    color:#000;
    text-decoration:none;
    padding:0 5px;
    position: relative;
    text-align:center;
}
h2:nth-of-type(1){
     position: absolute;
     top: 10px;
     left:-80px;
     width: 100%;
     vertical-align: bottom;
     horiz-align: right;
 }
h2:nth-of-type(2){
    position: absolute;
    top: 50px;
    left:120px;
    width: 100%;
    vertical-align: middle;
}

h2 span {
    color: black;
    font: bold 36px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(255,255,255); /* fallback color */
    background: rgba(255,255,255, 0.0);
    padding: 10px;
}
p.krok
{
    color: chocolate;
    font-size: larger;
}


ol > li:hover {
    background-color:#EEE;
    text-align:center;
}

ol > li > ul {
    list-style-type:none;
    padding:0;
    margin:0;
    position: relative;
}




ol > li > ul > li > a {
    border-top:1px solid #FFF;
    text-align:center;
}

ol {
    background-color:#FFF;
    position: relative;
}

ol > li > ul > li {
    background-color: #EEE;
    position: relative;
    z-index: 1000;
}




ol > li > ul {
    display: inline-block;
    text-align:center;
    display:none;
    position: relative;
}



ol > li {
    float:left;
    background-color:#ffED00;
    width:150px;
    margin-right:1px;
    margin-top: 1px;
    height:2em;
    text-align: center;
    position: relative;
}

ol > li:hover > a {
    color:#09C;
    text-align:center;
}
ol > li > a:hover {
    color:#09C;
}

ol > li:hover {
    background-color:#EEE;
}
ol > li:hover > ul {
     display:block;
 }
ol > li > ul > li:hover {
    background-color:#DDD;
}

ol > li > ul > li:hover a {
    color:#09C;
    position: relative;
    z-index: 1000;
}

table p {
    border: none;
}

